*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
}
a, li {
    text-decoration: none;
    list-style: none;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd2d2;
    color: rgb(11, 11, 11);
    padding: 1.5rem 2.5rem;
    height: 12rem;
}

.headerContainer h1 {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-weight: 500;
    color: rgb(255, 72, 0);
}
.navBarUl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.navBarLi a {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: 700;
    color: rgb(255, 72, 0);
    font-family: sans-serif;
}
.buttonContainer button {
    padding: 1.5rem 2.5rem;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    border-radius: 10px;
    background-color: orangered;
    color: rgba(0, 0, 0, 0.285);
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marqueeText{
    width: 100%;
    height: 22%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 1.1% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.marqueeText h2{
    display: inline-block;
    text-transform: uppercase;
    font-size: clamp(3rem, 2vw, 3.5rem);
    -webkit-text-stroke: 1px black;
    color: transparent;
    font-family: sans-serif;
    animation-name: marqueeText;
    animation-duration: 08s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 25px;
}
@keyframes marqueeText {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 27px));
    }
}