*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #121519;
    color: #f9f9f9;
    font-family: sans-serif;
}
p {
    font-size: clamp(18px, 2vw, 25px);
    font-weight: 700;
}
.animateCard{
    width: 280px;
    background: #121519;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    border: 2px solid rgb(255 255 255 / 8%);
    border-radius: 10px;
}
.cardWrapper{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 14px;
}
.animateCard::after{
    content: "";
    position: absolute;
    background: inherit;
    inset: 5px;
    border-radius: 10px;
}
.animateCard::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 125px;
    width: 200%;
    background-image: linear-gradient(180deg, rgb(111, 0, 255), rgb(255, 48, 255));
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.cardText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cardHeader{
    display: flex;
    align-items: center;
     gap: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 8%);
    margin-bottom: 12px;
}
.headerTitle p{
    font-size: 20px;
    font-weight: 400;
}
.headerTitle p:nth-child(2){
    font-size: 12px;
    opacity: 0.5;
}

.headerLogoImg img{
    width: 40px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.headerProDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 10px 6px 6px;
    border-radius: 6px;
    background-color: rgb(255 255 255 / 8%);
    font-size: 10px;
    cursor: pointer;
}
.headerProDiv .boltIcon{
    font-size: 18px;
}
.settingDiv{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.settingWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
}
.settingWrapper .settingIcon{
    font-size: 22px;
}
.border{
    width: 100%;
    border: 1px solid rgb(255 255 255 / 8%);
    margin: 20px 0px;
}
.logoutDiv{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
}