* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #121519;
  color: #f9f9f9;
  font-family: sans-serif;
  overflow: hidden;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 280px;
  background: #121519;
  margin: 50px auto;
  border: 2px solid rgb(255 255 255 / 8%);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  animation: scrollImage 10s linear infinite;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

@keyframes scrollImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 22px));
  }
}
